In [20]:
import pandas as pd
import numpy as np

In [21]:
data = pd.read_csv('US_County_Data.csv')

In [22]:
# Make sure the data is loaded correctly
data.head()

,fips,name_16,County,Less.Than.High.School,At.Least.High.School.Diploma,At.Least.Bachelor.s.Degree,Graduate.Degree,School.Enrollment,Median.Earnings.2010.dollars,White.not.Latino.Population,...,autumn_TMAX,autumn_TMIN,nearest_county,temp,precip,temp_bins,lat_bins,lon_bins,precip_bins,elevation_bins
0,1001,Autauga,"Autauga County, Alabama",14.7,85.3,21.7,7.1,78.80,30043.21365,77.55,...,NaN,NaN,NaN,NaN,NaN,NaN,"(31.7,33.8]","(-87.2,-84.5]",NaN,NaN
1,1003,Baldwin,"Baldwin County, Alabama",12.4,87.6,26.8,8.7,74.95,26630.56540,84.30,...,787.5,568.25,1003.0,19.083333,NaN,"(18.5,25.2]","[19.6,31.7]","(-90.4,-87.2]",NaN,"(38.9,105]"
2,1005,Barbour,"Barbour County, Alabama",28.1,71.9,13.5,6.0,67.85,20663.45270,47.40,...,779.0,512.00,1005.0,17.333333,NaN,"(16.6,18.5]","(31.7,33.8]","(-87.2,-84.5]",NaN,"(167,216]"
3,1007,Bibb,"Bibb County, Alabama",25.5,74.5,10.0,2.6,67.30,26875.00381,75.20,...,NaN,NaN,1007.0,NaN,1462.405,NaN,"(31.7,33.8]","(-87.2,-84.5]","(1.39e+03,4.3e+03]","(105,167]"
4,1009,Blount,"Blount County, Alabama",25.3,74.7,12.5,4.2,72.50,27774.18032,89.15,...,NaN,NaN,1009.0,NaN,1418.082,NaN,"(33.8,35.6]","(-87.2,-84.5]","(1.39e+03,4.3e+03]","(216,259]"

In [23]:
# Extract the column with the median earnings and check data type
earnings = data['Median.Earnings.2010.dollars']
print(earnings.head())

0    30043.21365
1    26630.56540
2    20663.45270
3    26875.00381
4    27774.18032
Name: Median.Earnings.2010.dollars, dtype: float64

In [24]:
# Round the median earnings to two decimal places
earnings_rounded = earnings.round(2)
print(earnings_rounded.head())

0    30043.21
1    26630.57
2    20663.45
3    26875.00
4    27774.18
Name: Median.Earnings.2010.dollars, dtype: float64

In [28]:
# Count the number of missing values in the data
missing_values = earnings_rounded.isnull().sum()
print('Number of missing values:', missing_values)

Number of missing values: 0

In [30]:
# Count the number of non-missing values in the data
earnings_rounded.describe()

count     3143.000000
mean     25462.809236
std       5078.076097
min          0.000000
25%      22331.640000
50%      24830.890000
75%      27549.180000
max      56674.350000
Name: Median.Earnings.2010.dollars, dtype: float64