## Normal Distribution and Probability Analysis

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Datasets/SAIPE_State_and_County_Estimates_for_2016.csv')

In [3]:
# Make sure the table is loaded correctly
data

,State FIPS Code,County FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound2,90% CI Upper Bound3,...,90% CI Upper Bound11,Median Household Income,90% CI Lower Bound12,90% CI Upper Bound13,"Poverty Estimate, Age 0-4",90% CI Lower Bound14,90% CI Upper Bound15,"Poverty Percent, Age 0-4",90% CI Lower Bound16,90% CI Upper Bound17
0,0,0,US,United States,"44,268,996","44,022,086","44,515,906",14.0,13.9,14.1,...,18.5,"57,617","57,502","57,732","4,156,949","4,108,397","4,205,501",21.3,21.1,21.5
1,1,0,AL,Alabama,"814,197","796,927","831,467",17.2,16.8,17.6,...,24.6,"46,309","45,650","46,968","78,675","74,257","83,093",27.4,25.9,28.9
2,1,1,AL,Autauga County,"7,444","6,255","8,633",13.5,11.3,15.7,...,22.0,"54,487","50,886","58,088",.,.,.,.,.,.
3,1,3,AL,Baldwin County,"24,005","20,132","27,878",11.7,9.8,13.6,...,20.4,"56,460","53,250","59,670",.,.,.,.,.,.
4,1,5,AL,Barbour County,"6,787","5,551","8,023",29.9,24.5,35.3,...,45.2,"32,884","29,684","36,084",.,.,.,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3189,56,37,WY,Sweetwater County,"4,264","3,610","4,918",9.8,8.3,11.3,...,9.5,"74,546","68,674","80,418",.,.,.,.,.,.
3190,56,39,WY,Teton County,"1,680","1,367","1,993",7.3,5.9,8.7,...,7.4,"84,118","75,630","92,606",.,.,.,.,.,.
3191,56,41,WY,Uinta County,"2,183","1,738","2,628",10.6,8.4,12.8,...,12.5,"64,713","57,915","71,511",.,.,.,.,.,.
3192,56,43,WY,Washakie County,"1,060",855,"1,265",13.1,10.6,15.6,...,16.4,"49,533","44,889","54,177",.,.,.,.,.,.
3193,56,45,WY,Weston County,734,572,896,10.7,8.3,13.1,...,16.2,"56,582","50,615","62,549",.,.,.,.,.,.

In [4]:
# Find rows where the county FIPS code is 0
data[data['County FIPS Code'] == 0]

,State FIPS Code,County FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound2,90% CI Upper Bound3,...,90% CI Upper Bound11,Median Household Income,90% CI Lower Bound12,90% CI Upper Bound13,"Poverty Estimate, Age 0-4",90% CI Lower Bound14,90% CI Upper Bound15,"Poverty Percent, Age 0-4",90% CI Lower Bound16,90% CI Upper Bound17
0,0,0,US,United States,"44,268,996","44,022,086","44,515,906",14.0,13.9,14.1,...,18.5,"57,617","57,502","57,732","4,156,949","4,108,397","4,205,501",21.3,21.1,21.5
1,1,0,AL,Alabama,"814,197","796,927","831,467",17.2,16.8,17.6,...,24.6,"46,309","45,650","46,968","78,675","74,257","83,093",27.4,25.9,28.9
69,2,0,AK,Alaska,"71,916","67,813","76,019",9.9,9.3,10.5,...,13.9,"76,144","74,375","77,913","7,919","6,898","8,940",15.1,13.2,17.0
99,4,0,AZ,Arizona,"1,107,153","1,086,482","1,127,824",16.4,16.1,16.7,...,23.5,"53,481","52,863","54,099","106,817","101,686","111,948",24.9,23.7,26.1
115,5,0,AR,Arkansas,"497,388","485,180","509,596",17.2,16.8,17.6,...,23.5,"44,406","43,530","45,282","50,341","47,095","53,587",27.3,25.5,29.1
191,6,0,CA,California,"5,527,621","5,475,835","5,579,407",14.4,14.3,14.5,...,19.6,"67,715","67,361","68,069","502,432","489,415","515,449",20.7,20.2,21.2
250,8,0,CO,Colorado,"598,378","585,017","611,739",11.0,10.8,11.2,...,13.5,"65,718","65,097","66,339","46,111","42,217","50,005",13.9,12.7,15.1
315,9,0,CT,Connecticut,"342,171","330,966","353,376",9.9,9.6,10.2,...,13.1,"73,380","72,386","74,374","27,362","24,926","29,798",15.2,13.8,16.6
324,10,0,DE,Delaware,"109,592","104,742","114,442",11.8,11.3,12.3,...,17.9,"62,112","60,792","63,432","10,824","9,579","12,069",20.1,17.8,22.4
328,11,0,DC,District of Columbia,"119,778","113,591","125,965",18.5,17.5,19.5,...,32.8,"74,093","71,880","76,306","10,033","8,628","11,438",23.7,20.4,27.0
330,12,0,FL,Florida,"2,986,237","2,947,397","3,025,077",14.8,14.6,15.0,...,20.7,"50,857","50,616","51,098","259,244","249,470","269,018",23.5,22.6,24.4
398,13,0,GA,Georgia,"1,612,368","1,586,263","1,638,473",16.1,15.8,16.4,...,22.3,"53,468","52,778","54,158","172,046","164,841","179,251",26.6,25.5,27.7
558,15,0,HI,Hawaii,"132,597","125,573","139,621",9.5,9.0,10.0,...,11.7,"74,659","73,083","76,235","10,436","8,986","11,886",11.8,10.2,13.4
564,16,0,ID,Idaho,"228,037","218,768","237,306",13.8,13.2,14.4,...,16.4,"51,647","50,736","52,558","22,375","20,239","24,511",19.7,17.8,21.6
609,17,0,IL,Illinois,"1,620,974","1,595,624","1,646,324",13.0,12.8,13.2,...,17.4,"60,977","60,591","61,363","145,710","138,489","152,931",19.3,18.3,20.3
712,18,0,IN,Indiana,"899,168","881,690","916,646",14.0,13.7,14.3,...,18.8,"52,289","51,922","52,656","85,922","81,057","90,787",21.0,19.8,22.2
805,19,0,IA,Iowa,"354,429","345,224","363,634",11.7,11.4,12.0,...,14.0,"56,354","55,677","57,031","33,771","31,346","36,196",17.4,16.2,18.6
905,20,0,KS,Kansas,"343,773","333,475","354,071",12.2,11.8,12.6,...,14.2,"54,828","53,976","55,680","30,377","27,577","33,177",16.0,14.5,17.5
1011,21,0,KY,Kentucky,"782,779","766,290","799,268",18.2,17.8,18.6,...,24.0,"46,610","46,022","47,198","70,987","66,861","75,113",26.6,25.1,28.1
1132,22,0,LA,Louisiana,"911,970","893,612","930,328",20.1,19.7,20.5,...,28.4,"45,374","44,621","46,127","91,982","86,699","97,265",30.3,28.6,32.0
1197,23,0,ME,Maine,"159,523","153,218","165,828",12.3,11.8,12.8,...,16.8,"52,926","51,690","54,162","11,695","10,370","13,020",18.7,16.6,20.8
1214,24,0,MD,Maryland,"572,786","559,536","586,036",9.7,9.5,9.9,...,12.8,"78,787","78,070","79,504","50,081","46,056","54,106",13.9,12.8,15.0
1239,25,0,MA,Massachusetts,"688,366","672,883","703,849",10.5,10.3,10.7,...,13.0,"75,207","74,461","75,953","54,952","50,579","59,325",15.5,14.3,16.7
1254,26,0,MI,Michigan,"1,449,683","1,430,043","1,469,323",14.9,14.7,15.1,...,19.5,"52,436","52,038","52,834","133,735","128,718","138,752",23.9,23.0,24.8
1338,27,0,MN,Minnesota,"531,789","519,414","544,164",9.9,9.7,10.1,...,12.3,"65,583","64,989","66,177","46,337","43,019","49,655",13.4,12.4,14.4
1426,28,0,MS,Mississippi,"606,873","592,527","621,219",21.0,20.5,21.5,...,30.5,"41,793","41,247","42,339","59,513","55,912","63,114",32.1,30.2,34.0
1509,29,0,MO,Missouri,"826,358","809,923","842,793",14.0,13.7,14.3,...,18.4,"51,713","51,343","52,083","80,199","75,816","84,582",22.0,20.8,23.2
1625,30,0,MT,Montana,"136,439","130,979","141,899",13.4,12.9,13.9,...,16.4,"50,265","49,243","51,287","10,940","9,737","12,143",17.8,15.8,19.8
1682,31,0,NE,Nebraska,"208,864","201,705","216,023",11.3,10.9,11.7,...,13.7,"56,979","56,240","57,718","20,548","18,295","22,801",15.8,14.1,17.5
1776,32,0,NV,Nevada,"407,308","394,452","420,164",14.1,13.7,14.5,...,19.8,"55,201","54,342","56,060","39,500","36,363","42,637",22.0,20.3,23.7
1794,33,0,NH,New Hampshire,"97,753","92,007","103,499",7.6,7.2,8.0,...,8.6,"70,986","69,715","72,257","6,300","5,187","7,413",10.0,8.2,11.8
1805,34,0,NJ,New Jersey,"915,390","895,106","935,674",10.4,10.2,10.6,...,14.3,"76,212","75,530","76,894","81,390","75,620","87,160",15.9,14.8,17.0
1827,35,0,NM,New Mexico,"390,461","380,077","400,845",19.1,18.6,19.6,...,27.7,"46,844","46,050","47,638","39,733","36,561","42,905",31.4,28.9,33.9
1861,36,0,NY,New York,"2,843,954","2,812,221","2,875,687",14.8,14.6,15.0,...,20.3,"62,700","62,081","63,319","252,227","244,220","260,234",22.3,21.6,23.0
1924,37,0,NC,North Carolina,"1,523,034","1,498,821","1,547,247",15.4,15.2,15.6,...,21.0,"50,595","50,305","50,885","143,903","136,635","151,171",24.3,23.1,25.5
2025,38,0,ND,North Dakota,"76,951","72,578","81,324",10.5,9.9,11.1,...,12.0,"61,898","60,498","63,298","7,421","6,279","8,563",13.7,11.6,15.8
2079,39,0,OH,Ohio,"1,639,636","1,614,177","1,665,095",14.5,14.3,14.7,...,19.4,"52,357","52,083","52,631","160,833","153,884","167,782",23.7,22.7,24.7
2168,40,0,OK,Oklahoma,"615,050","603,867","626,233",16.1,15.8,16.4,...,22.0,"49,204","48,594","49,814","64,653","61,316","67,990",24.9,23.6,26.2
2246,41,0,OR,Oregon,"538,169","524,488","551,850",13.4,13.1,13.7,...,16.8,"57,379","56,560","58,198","42,457","38,670","46,244",18.5,16.8,20.2
2283,42,0,PA,Pennsylvania,"1,589,584","1,565,866","1,613,302",12.9,12.7,13.1,...,17.8,"56,897","56,540","57,254","139,441","132,852","146,030",20.1,19.2,21.0
2351,44,0,RI,Rhode Island,"134,683","128,893","140,473",13.3,12.7,13.9,...,18.6,"60,046","58,657","61,435","11,708","10,342","13,074",21.7,19.2,24.2
2357,45,0,SC,South Carolina,"739,574","723,077","756,071",15.3,15.0,15.6,...,22.9,"49,587","48,997","50,177","72,788","68,494","77,082",25.4,23.9,26.9
2404,46,0,SD,South Dakota,"107,953","103,265","112,641",12.9,12.3,13.5,...,16.6,"54,926","53,748","56,104","11,257","10,144","12,370",18.7,16.8,20.6
2471,47,0,TN,Tennessee,"1,023,825","1,005,630","1,042,020",15.8,15.5,16.1,...,22.0,"48,506","47,850","49,162","102,127","96,738","107,516",25.8,24.4,27.2
2567,48,0,TX,Texas,"4,261,291","4,214,422","4,308,160",15.6,15.4,15.8,...,21.9,"56,583","56,285","56,881","481,319","468,119","494,519",24.3,23.6,25.0
2822,49,0,UT,Utah,"307,270","295,740","318,800",10.2,9.8,10.6,...,10.8,"65,931","65,028","66,834","31,891","28,879","34,903",12.8,11.6,14.0
2852,50,0,VT,Vermont,"67,825","64,114","71,536",11.3,10.7,11.9,...,13.9,"57,661","56,228","59,094","4,561","3,824","5,298",15.2,12.7,17.7
2867,51,0,VA,Virginia,"897,244","877,329","917,159",11.0,10.8,11.2,...,14.3,"68,127","67,404","68,850","73,572","68,344","78,800",14.8,13.8,15.8
3001,53,0,WA,Washington,"808,582","791,428","825,736",11.3,11.1,11.5,...,13.5,"67,064","66,481","67,647","66,692","62,035","71,349",15.0,14.0,16.0
3041,54,0,WV,West Virginia,"318,368","309,231","327,505",17.9,17.4,18.4,...,23.6,"43,175","42,135","44,215","26,744","24,759","28,729",27.2,25.2,29.2
3097,55,0,WI,Wisconsin,"661,465","647,308","675,622",11.8,11.5,12.1,...,15.0,"56,808","56,269","57,347","59,988","55,891","64,085",18.2,17.0,19.4
3170,56,0,WY,Wyoming,"62,416","58,628","66,204",10.9,10.2,11.6,...,11.5,"61,686","59,882","63,490","5,078","4,239","5,917",13.7,11.4,16.0

In [5]:
# Remove rows where the county FIPS code is 0
county_data = data[data['County FIPS Code'] != 0]

# Ensure that the rows have been removed
county_data

,State FIPS Code,County FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound2,90% CI Upper Bound3,...,90% CI Upper Bound11,Median Household Income,90% CI Lower Bound12,90% CI Upper Bound13,"Poverty Estimate, Age 0-4",90% CI Lower Bound14,90% CI Upper Bound15,"Poverty Percent, Age 0-4",90% CI Lower Bound16,90% CI Upper Bound17
2,1,1,AL,Autauga County,"7,444","6,255","8,633",13.5,11.3,15.7,...,22.0,"54,487","50,886","58,088",.,.,.,.,.,.
3,1,3,AL,Baldwin County,"24,005","20,132","27,878",11.7,9.8,13.6,...,20.4,"56,460","53,250","59,670",.,.,.,.,.,.
4,1,5,AL,Barbour County,"6,787","5,551","8,023",29.9,24.5,35.3,...,45.2,"32,884","29,684","36,084",.,.,.,.,.,.
5,1,7,AL,Bibb County,"4,099","3,194","5,004",20.1,15.7,24.5,...,33.1,"43,079","38,896","47,262",.,.,.,.,.,.
6,1,9,AL,Blount County,"8,033","6,506","9,560",14.1,11.4,16.8,...,21.8,"47,213","43,017","51,409",.,.,.,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3189,56,37,WY,Sweetwater County,"4,264","3,610","4,918",9.8,8.3,11.3,...,9.5,"74,546","68,674","80,418",.,.,.,.,.,.
3190,56,39,WY,Teton County,"1,680","1,367","1,993",7.3,5.9,8.7,...,7.4,"84,118","75,630","92,606",.,.,.,.,.,.
3191,56,41,WY,Uinta County,"2,183","1,738","2,628",10.6,8.4,12.8,...,12.5,"64,713","57,915","71,511",.,.,.,.,.,.
3192,56,43,WY,Washakie County,"1,060",855,"1,265",13.1,10.6,15.6,...,16.4,"49,533","44,889","54,177",.,.,.,.,.,.
3193,56,45,WY,Weston County,734,572,896,10.7,8.3,13.1,...,16.2,"56,582","50,615","62,549",.,.,.,.,.,.

In [6]:
# Check for missing values in the Median Household Income column
print(county_data['Median Household Income'].isnull().sum())

# Check the data type of the Median Household Income column
print(county_data['Median Household Income'].dtype)

0
object

In [7]:
# Get rid of the comma in the Median Household Income column
county_data['Median Household Income'] = county_data['Median Household Income'].str.replace(',', '')

# Change the datatype for the Median Household Income column to int
county_data['Median Household Income'] = pd.to_numeric(county_data['Median Household Income'], errors='coerce')

/Users/emilyneaville/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/emilyneaville/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
# Check for missing values in the Median Household Income column
print("Missing Values:", county_data['Median Household Income'].isnull().sum())

# Find the missing value in the Median Household Income column and delete the row
missing_income = county_data[county_data['Median Household Income'].isnull()]
county_data = county_data.drop(missing_income.index)

# Check again for missing values in the Median Household Income column
print("Missing Values:", county_data['Median Household Income'].isnull().sum())

Missing Values: 1
Missing Values: 0

In [14]:
# Extract the column with the median earnings
median_income = county_data['Median Household Income']

# Count the number of non-missing values in the earnings
median_income.count()

3141

In [16]:
# Export the cleaned earning to a new CSV file
median_income.to_csv('Datasets/Median_Income.csv', index=False)

## Confidence Interval Analysis

In [ ]:
# Extract the column for "At Least Bachelor's Degree"
bachelors = data["At.Least.Bachelor.s.Degree"]

# Check for missing values
print('Missing Values:', bachelors.isnull().sum())

# Make sure the column is loaded correctly
print(bachelors.head())
print(bachelors.count())

In [ ]:
# Pull a random sample of 800 rows from the column
random_sample = bachelors.sample(n=800, random_state=42)

# Count the number of rows that have a value above 25
x = random_sample[bachelors >= 25].count()
n = random_sample.count()
print('With attribute:', x)
print('Without attribute:', n - x)

# Estimate the sample proportion
p_hat = (x / n).round(3)
print('Sample Proportion:', p_hat)

In [ ]:
# Calcuate the percentage of the population that has the attribute
p_with_attribute = bachelors[bachelors >= 25].count() / bachelors.count()
print('Population Proportion:', p_with_attribute)

Remainder of analysis (estimating the population proportion) completed in excel