## Normal Distribution and Probability Analysis

In [134]:
import pandas as pd
import numpy as np

In [135]:
data = pd.read_csv('Datasets/US_County_Data.csv')

In [136]:
# Make sure the table is loaded correctly
data

,fips,name_16,County,Less.Than.High.School,At.Least.High.School.Diploma,At.Least.Bachelor.s.Degree,Graduate.Degree,School.Enrollment,Median.Earnings.2010.dollars,White.not.Latino.Population,...,autumn_TMAX,autumn_TMIN,nearest_county,temp,precip,temp_bins,lat_bins,lon_bins,precip_bins,elevation_bins
0,1001,Autauga,"Autauga County, Alabama",14.7,85.3,21.7,7.1,78.80,53049.0,77.55,...,NaN,NaN,NaN,NaN,NaN,NaN,"(31.7,33.8]","(-87.2,-84.5]",NaN,NaN
1,1003,Baldwin,"Baldwin County, Alabama",12.4,87.6,26.8,8.7,74.95,47618.0,84.30,...,787.5,568.25,1003.0,19.083333,NaN,"(18.5,25.2]","[19.6,31.7]","(-90.4,-87.2]",NaN,"(38.9,105]"
2,1005,Barbour,"Barbour County, Alabama",28.1,71.9,13.5,6.0,67.85,33074.0,47.40,...,779.0,512.00,1005.0,17.333333,NaN,"(16.6,18.5]","(31.7,33.8]","(-87.2,-84.5]",NaN,"(167,216]"
3,1007,Bibb,"Bibb County, Alabama",25.5,74.5,10.0,2.6,67.30,35472.0,75.20,...,NaN,NaN,1007.0,NaN,1462.4050,NaN,"(31.7,33.8]","(-87.2,-84.5]","(1.39e+03,4.3e+03]","(105,167]"
4,1009,Blount,"Blount County, Alabama",25.3,74.7,12.5,4.2,72.50,42906.0,89.15,...,NaN,NaN,1009.0,NaN,1418.0820,NaN,"(33.8,35.6]","(-87.2,-84.5]","(1.39e+03,4.3e+03]","(216,259]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,56037,Sweetwater,"Sweetwater County, Wyoming",10.1,89.9,17.1,4.6,70.70,67508.0,82.30,...,NaN,NaN,56037.0,NaN,215.7730,NaN,"(41,42.8]","[-164,-109]","[123,444]","(1.01e+03,3.06e+03]"
3139,56039,Teton,"Teton County, Wyoming",4.9,95.1,49.7,16.4,63.90,68358.0,83.75,...,497.0,217.00,56039.0,1.344444,615.7468,"[-10.1,6.44]","(42.8,45]","[-164,-109]","(444,628]","(1.01e+03,3.06e+03]"
3140,56041,Uinta,"Uinta County, Wyoming",11.7,88.3,17.4,5.1,75.30,60532.0,89.10,...,NaN,NaN,56041.0,NaN,270.7640,NaN,"(41,42.8]","[-164,-109]","[123,444]","(1.01e+03,3.06e+03]"
3141,56043,Washakie,"Washakie County, Wyoming",10.4,89.6,24.5,8.9,70.80,47831.0,83.60,...,596.6,317.60,56043.0,7.688889,286.2072,"(6.44,8.12]","(42.8,45]","(-109,-100]","[123,444]","(1.01e+03,3.06e+03]"
3142,56045,Weston,"Weston County, Wyoming",8.9,91.1,17.9,4.0,68.50,48653.0,93.75,...,588.0,321.00,56045.0,7.296296,431.8000,"(6.44,8.12]","(42.8,45]","(-109,-100]","[123,444]","(1.01e+03,3.06e+03]"

In [137]:
# Check for missing values in the Median Earnings column
data['Median.Earnings.2010.dollars'].isnull().sum()

1

In [138]:
# Find the row with the missing Median Earnings value and delete it
missing_value_rows = data[data['Median.Earnings.2010.dollars'].isnull()]
data_cleaned = data.drop(missing_value_rows.index)

# Check again for missing values in the Median Earnings column
data_cleaned['Median.Earnings.2010.dollars'].isnull().sum()

0

In [139]:
# Extract the column with the median earnings and check data type
earnings = data_cleaned['Median.Earnings.2010.dollars']
earnings.head()

0    53049.0
1    47618.0
2    33074.0
3    35472.0
4    42906.0
Name: Median.Earnings.2010.dollars, dtype: float64

In [140]:
# Round to the nearest dollar and convert to integer
earnings = earnings.round().astype(int)
earnings.head()

0    53049
1    47618
2    33074
3    35472
4    42906
Name: Median.Earnings.2010.dollars, dtype: int64

In [141]:
# Count the number of non-missing values in the earnings
earnings.count()

3142

In [142]:
# Export the cleaned earning to a new CSV file
earnings.to_csv('Datasets/Median_Earnings.csv', index=False)

## Confidence Interval Analysis

In [143]:
# Extract the column for "At Least Bachelor's Degree"
bachelors = data["At.Least.Bachelor.s.Degree"]

# Check for missing values
print('Missing Values:', bachelors.isnull().sum())

# Make sure the column is loaded correctly
print(bachelors.head())
print(bachelors.count())

Missing Values: 0
0    21.7
1    26.8
2    13.5
3    10.0
4    12.5
Name: At.Least.Bachelor.s.Degree, dtype: float64
3143

In [ ]:
# Pull a random sample of 800 rows from the column
random_sample = bachelors.sample(n=800, random_state=42)

# Count the number of rows that have a value above 20
x = random_sample[bachelors >= 20].count()
n = random_sample.count()
print('With attribute:', x)
print('Without attribute:', n - x)

# Estimate the sample proportion
p_hat = (x / n).round(3)
print('Sample Proportion:', p_hat)

With attribute: 254
Without attribute: 546
Sample Proportion: 0.318

In [148]:
# Calcuate the percentage of the population that has the attribute
p_with_attribute = bachelors[bachelors >= 20].count() / bachelors.count()
print('Population Proportion:', p_with_attribute)

Population Proportion: 0.33853006681514475

Remainder of analysis (estimating the population proportion) completed in excel